<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:property-placeholder location="classpath*:jhouse.properties"/>
	<import resource="classpath*:devices.xml"/>

	<bean id="server" class="eu.jhouse.server.Server" init-method="run">
		<property name="reader" ref="communicationReader"/>
		<property name="writer" ref="communicationWriter"/>
	</bean>

	<bean id="brain" class="eu.jhouse.server.brain.Brain" init-method="init">
		<property name="pathToLogicFile">
			<bean class="java.lang.String" factory-bean="logicResource" factory-method="getPath"/>
		</property>
	</bean>

	<bean id="logicResource" class="org.springframework.core.io.ClassPathResource">
		<constructor-arg value="${jhouse.brain.logicFilePath}"/>
	</bean>

	<bean id="owfsFileSystemFactory" class="eu.jhouse.server.onewire.OWFSFileSystemFactory">
		<property name="OWFSServerAddress" value="${jhouse.owfs.server.address}"/>
	</bean>

	<bean id="communicationWriter" class="eu.jhouse.server.onewire.OWFSCommunicationWriter"/>

	<bean id="bus" class="eu.jhouse.server.bus.BusImpl">
		<property name="eventMapping">
			<map>
				<entry key="eu.jhouse.server.device.SensorsChangedEvent">
					<set>
						<bean class="eu.jhouse.server.brain.SensorChangedEventListener"/>
						<bean class="eu.jhouse.server.brain.SensorChangedBrainConnector">
							<property name="brain" ref="brain"/>
						</bean>
					</set>
				</entry>
				<entry key="eu.jhouse.server.device.ActorsChangedEvent">
					<set>
						<bean class="eu.jhouse.server.brain.ActorChangedBrainConnector">
							<property name="brain" ref="brain"/>
						</bean>
					</set>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="communicationReader" class="eu.jhouse.server.onewire.OWFSCommunicationReader">
		<property name="fileSystem">
			<bean factory-bean="owfsFileSystemFactory" factory-method="createOWFSFileSystem"/>
		</property>
		<property name="bus" ref="bus"/>
		<property name="communicationWriter" ref="communicationWriter"/>

		<!--Section below configures input devices list-->
		<property name="inputDevices" ref="inputDevices"/>

		<!--Section below configures output devices list-->
		<property name="outputDevices" ref="outputDevices"/>
	</bean>
</beans>