<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="eu.jhouse.android"
        android:versionCode="1"
        android:versionName="${project.version}">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
            android:icon="@drawable/ic_appplication" android:label="@string/application_name">
        <activity
                android:name="eu.jhouse.android.JHouse"
                android:label="@string/applicationName"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PushActivity"/>
        <activity android:name=".Preferences" android:screenOrientation="portrait"/>

        <service android:name=".mqtt.MQTTService">
        </service>
    </application>
    <uses-sdk android:minSdkVersion="7"/>
</manifest>
